{
  "root": true,
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:import/typescript"
  ],
  "plugins": ["jest"],
  "env": {
    "jest/globals": true,
    "browser": true
  },
  "rules": {
    "import/no-unresolved": "off",
    "no-use-before-define": "off",
    "no-unused-vars": "off",
    "consistent-return": "off",
    "no-console": ["warn", { "allow": ["warn", "error", "info"] }],
    "import/extensions": ["warn", "never"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx", ".tsx"] }],
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "no-shadow": "off",
    "no-param-reassign": ["error", { "props": false }],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/display-name": "off",
    "linebreak-style": 0,
    "import/no-cycle": "warn"
  }
}
