.row {
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.square {
    display: flex;
    top: 50px;
    width: 100px;
    height: 100px;
    background-color: black;
    transition: border-radius 2s ease-out, transform 2s ease-in;

}
.square2 {
    display: flex;
    top: 50px;
    width: 100px;
    height: 100px;
    background-color: dimgrey;
    transition: border-radius 1.5s ease-in-out, transform 1.5s ease-in-out;
}
.imgGear {
    display: flex;
    top: 50px;
    width: 100px;
    height: 100px;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}
