.container {
    width: 50%;
}

.list-group-item {
    display: flex;
    align-items: center;
}

.btn-remove {
    margin-left: auto;
}

.list-group-item-content[data-done="true"] {
    text-decoration: line-through;
}

.pointer {
    cursor: pointer;
}
