.container {
    max-width: 400px;
    margin-top: 250px;
    color: darkgray;
}
.row + .row {
    margin-top: 1rem;
}
.result {
    border-color: darkgray;
}
.btm {
    border-radius: 5px;
    border-color: darkgray;
    border-width: 1px;
}
.row-Title {
    color: black;
    margin-bottom: 2rem;
}