.container {
    max-width: 400px;
    margin-top: 150px;
    color: darkgray;
}
.row + .row {
    margin-top: 0.5rem;

}
.result {
    border-color: darkgray;
}
.btm {
    border-radius: 5px;
    border-color: darkgray;
    border-width: 1px;
}
.row-Title {
    display: flex;
    color: black;
    margin-bottom: 1rem;
    justify-content: center;

}
.row {
    padding-bottom: 10px;
}
